<ul>
    <li>
        <a href="{{ path('demande') }}">
            Gerer les demandes
        </a>
    </li>
    <li>
        <a href="{{ path('mediatype') }}">
            Gerer les types de média
        </a>
    </li>
    <li>
        <a href="{{ path('etat') }}">
            Gerer les états
        </a>
    </li>
</ul>